h1{
    position: relative;
    top: -80px;
    right: -220px;
}
.info{
    position: relative;
    top: -140px;
    right: -1050px;
}
p{
    position: relative;
    top: -200px;
    right: -1100px;
}